.page {
  font-family: sans-serif;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #fff;
}

.panel-header button:hover {
  color: #2f5ad3; /* Darker blue on hover */
}